@use "../../../styles/mixin" as m;
@use "../../../styles/variable" as v;

.homeNav {

    ul {
        @include m.flexbox(flex, row, nowrap, center, center);
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 10px;
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        li {
            a {
                text-decoration: none;
                color: black;

                &:hover {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    &Container {
        width: 100vw;
        height: calc(100vh - v.$main-header-height);
        border: 1px solid black;
        @include m.flexbox(flex, row, nowrap, center, center);
    }
}