@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.simpleButton {
    @include m.flexbox(flex, row, wrap, center, center);
    gap: v.$space-xs;
    @include m.unbuttonize;
    cursor: pointer;
    color: v.$color-neutral-100;
    padding: v.$space-s v.$space-m;
    margin: v.$space-m;
    border-radius: v.$border-radius-rounded;
    box-shadow: rgba(155, 155, 155) 0px 2px 4px 0px;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.gold {
    background-color: v.$color-old-gold;
    border: 1px solid v.$color-old-gold;
}

.brown {
    background-color: v.$color-dark-lava;
    border: 1px solid v.$color-black-chocolate;
}

.red {
    background-color: v.$color-error;
    border: 1px solid v.$color-error;
}

.green {
    background-color: v.$color-validation;
    border: 1px solid v.$color-validation;
}

.unselected {
    background-color: v.$color-neutral-100;
    color: v.$color-neutral-60;
    border: 1px solid v.$color-neutral-60;
}