@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.tagManagementSection {
    @include m.flexbox(flex, column, nowrap, center, center);
    background-color: v.$background-color-soft;
    min-height: calc(100vh - v.$main-header-height);
    padding-bottom: v.$space-l;
}

.tagManagementHeader {
    width: 90vw;
    margin: 0 auto;
    @include m.flexbox(flex, row, nowrap, flex-start, center);
    padding: v.$space-m 0;
}

.tagManagementContainer {
    width: 90vw;
    margin: 0 auto;
    @include m.flexbox(flex, column, nowrap, flex-start, center);
    gap: v.$space-l;


    >form {
        width: 100%;
        @include m.flexbox(flex, row, nowrap, flex-start, center);
        background-color: v.$background-color-base;
        border-radius: v.$border-radius-rounded;
        padding: v.$space-xl;
        @include m.shadow();
    }

    .tagManagementForm {
        @include m.flexbox(flex, column, nowrap, flex-start, flex-start);
        gap: v.$space-l;
        width: 100%;
        padding: v.$space-l 0;

    }

    .tagManagementRow {
        @include m.flexbox(flex, row, nowrap, space-between, flex-start);
        width: 90%;
    }

    .tagInputContainer {
        width: 45%;

        >input,
        textarea {
            width: 100%;
            padding: v.$space-s;
            border: v.$border-width-m solid v.$color-grullo-light;
            border-radius: v.$border-radius-rounded;
            font-size: v.$font-size-m;
            font-family: "Vollkorn";

            &:focus {
                outline: v.$border-width-m solid v.$color-umber;
            }
        }
    }

    .buttonContainer {
        @include m.flexbox(flex, column, nowrap, center, center);
        width: 100px;
        margin-top: v.$space-l;
        gap: v.$space-s;

    }
}