@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.userManagementSection {


    >h4 {
        font-size: v.$font-size-xxl;
        text-align: center;
        margin: v.$space-xxl 0;
    }
}

.userManagementTableContainer {
    width: 90vw;
    margin: 0 auto;
    background-color: v.$background-color-soft;
    border-radius: v.$border-radius-rounded;
    padding: v.$space-xl;

    .managementTable {
        width: 100%;

        >thead {
            border-bottom: v.$border-width-m solid v.$color-grullo;

            >tr>th {
                padding-bottom: v.$space-m;
                font-weight: v.$font-weight-bold;
            }

        }

        .userTableRow {
            >td {
                text-align: center;
                background-color: v.$background-color-base;
                padding: v.$space-l 0;
                border-bottom: v.$border-width-m solid v.$color-grullo;
                max-width: 100px;
                vertical-align: middle;
            }

            >td:last-of-type {
                text-align: center;

                >svg,
                button {
                    cursor: pointer;
                    margin-right: v.$space-s;
                    background-color: v.$background-color-soft;
                    border-radius: v.$border-radius-base;
                    border: v.$border-width-m solid v.$color-neutral-80;
                    padding: 5px;
                    transition: scale 0.2s;
                    color: v.$color-dark-lava;
                }

                >svg:hover,
                button:hover {
                    scale: 1.1;
                }
            }
        }
    }
}