@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.mapMenu {
  width: 100vw;
  height: calc(100vh - v.$main-header-height);
  @include m.flexbox(flex, column, nowrap, space-between, center);

  background-image: url('../../assets/map_bg.png');
  background-position-y: 43%;
  background-repeat: no-repeat;
  background-size: cover;

  &Container {
    @include m.flexbox(flex, column, nowrap, center, center);
    padding-top: v.$font-space-xxxxl * 4;
  }

  &NavContainer {
    height: 30%;
    @include m.flexbox(flex, row, nowrap, center, flex-end);
    margin-bottom: v.$font-space-xxxl
  }

  &Nav {
    ul {
      @include m.flexbox(flex, row, nowrap, center, flex-end);
      gap: v.$font-space-xxxxl * 2;
    }
  }
}