@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;


.itemTableRow {
    >td {
        text-align: left;
        background-color: v.$background-color-base;
        padding: v.$space-xs;
        border-bottom: v.$border-width-m solid v.$color-grullo-light;
        max-width: 100px;
        vertical-align: middle;

        .itemTableTitleCell {
            text-align: justify;
        }

        .itemCellCentered {
            text-align: center;
        }
    }

    >td:first-of-type {
        div {
            text-align: center;
        }
    }

    >td:last-of-type {


        .itemTableActions {
            @include m.flexbox(flex, column, nowrap, center, center);
            gap: v.$space-s/2;

            svg {
                cursor: pointer;
                margin-right: v.$space-s;
                background-color: v.$background-color-soft;
                border-radius: v.$border-radius-base;
                border: v.$border-width-m solid v.$color-neutral-80;
                padding: 5px;
                transition: scale 0.2s;
                color: v.$color-dark-lava;
            }

            svg:hover {
                scale: 1.1;
            }
        }
    }
}

.descriptionCell {
    font-size: v.$font-size-xs;
    font-style: italic;
}