@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.selectElementFormContainer {
    width: 100%;

    .allSelectContainer {
        border-bottom: v.$border-width-m solid v.$color-grullo-light;
        @include m.flexbox(flex, row, nowrap, space-between, center);
        gap: v.$space-xxl;

        >div:first-child {
            width: 100%;
        }
    }
}

.selectContainer {

    >div {
        width: 100%;
        margin: 1rem;
    }

}

.buttonContainer {
    @include m.flexbox(flex, column, nowrap, flex-end, center);
    gap: v.$space-m;
}