@use '../../../styles/variable' as v;

.aside {
  &Opened {
    flex: 1;
  }

  &Closed {
    flex: 0.1;
  }
}

.toggleButtonContainer {
  position: relative;
  height: calc(100vh - v.$main-header-height - v.$map-header-height - v.$aside-header-height);
}

.toggleButton {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  right: 0;

}