.editableBlockContainer {
  position: relative;

  .editButton {
    position: absolute;
    top: 10px;
    right: -10px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    svg {
      color: #999;
      transition: color 0.2s ease;
    }

    &:hover {
      svg {
        color: #5c4033;
      }
    }
  }
}
