@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.storymapContainer {
    @include m.flexbox(flex, column, nowrap, center, center);

    padding: v.$font-space-xxxxl;
    gap: v.$font-space-xxxl;
}

.storymapHeaderContainer {
    @include m.flexbox(flex, row, nowrap, space-between, center);
    margin: 0 v.$space-xl;
}

.languageSelectionContainer {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    @include m.flexbox(flex, row, nowrap, center, center);
    gap: v.$space-s;

    >li {
        cursor: pointer;
    }
}