@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.menuPage {
    &Container {
        @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, flex-start, flex-start);
        height: 100vh;
    }

    &MenuSection {
        height: 100%;
        width: 60%;

        &Background {
            height: 100vh;
            width: 60%;
            position: absolute;
            top: 0;
            background-color: v.$color-grullo;
            opacity: 0.2;
        }
    }

    &ImageSection {
        height: 100%;
        width: 40%;
        background-image: url('../../assets/menu_bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        >svg {
            position: absolute;
            right: 15px;
            top: 15px
        }
    }
}