@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.layoutSection {
    width: 70vw;
}

.left {

    >figure {
        float: left;
        margin-right: v.$space-s;
        margin-bottom: v.$space-s;
        @include m.flexbox(flex, column, nowrap, center, center);
        max-width: 50%;

        >img {
            width: 80%;

        }

        >figcaption {
            padding-top: v.$space-xs;
            font-style: italic;
        }
    }
}

.right {
    >figure {
        float: right;
        margin-left: v.$space-s;
        margin-bottom: v.$space-s;
        @include m.flexbox(flex, column, nowrap, center, center);
        max-width: 50%;

        >img {
            width: 80%;
        }

        >figcaption {
            padding-top: v.$space-xs;
            font-style: italic;
        }
    }
}