@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.circleBrownIcon {
  width: 10px;
  height: 10px;
  color: v.$color-neutral-100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid v.$color-grullo;
  font-size: 12px;
  opacity: 0.9;

}

.lightBackgroundColor {
  background-color: v.$color-umber;
}

.mediumBackgroundColor {
  background-color: v.$color-dark-lava;
}

.darkBackgroundColor {
  background-color: v.$color-black-chocolate;
}

.selectedBackgroundColor {
  background-color: #5fa052;
}

.invisibleIcon {
  display: none;
}

.iconDivContent {
  background-color: blue;
}