@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.mapTitleContainer {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 400;
    padding: v.$space-s;
    background-color: white;
    color: v.$color-dark-lava;
    border-radius: v.$border-radius-base;
    border: 1px solid v.$color-grullo;
    cursor: default;



    .titleAndInfoContainer {
        @include m.flexbox(flex, row, nowrap, flex-start, center);
        gap: v.$space-s;

        >h2 {
            font-size: v.$font-size-l;
        }

        >svg {
            cursor: pointer;
            color: v.$color-grullo;
        }


    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
}

.shadowed {
    z-index: 10000;
}

/* Ciblé pour les écrans ≤ 768px (tablettes et téléphones) */
@media (max-width: 768px) {
    .mapTitleContainer {
        padding: v.$space-xs;

        .titleAndInfoContainer {

            >h2 {
                font-size: v.$font-size-m;
            }
        }
    }


}

/* Ciblé pour les téléphones ≤ 480px */
@media (max-width: 480px) {
    .mapTitleContainer {
        .titleAndInfoContainer {
            >svg {
                cursor: pointer;
                color: v.$color-umber;
            }


        }
    }
}