@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.rangeContainer {
    display: flex;
    flex-direction: column;
    padding: 0 v.$space-xxxl;
}

.slidersControl {
    display: flex;
    justify-content: center;
}

.formControl {
    display: flex;
    justify-content: space-between;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: v.$color-umber;
    border-radius: 50%;
    box-shadow: 0 0 0 1px v.$color-umber;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: v.$color-umber;
    border-radius: 50%;
    box-shadow: 0 0 0 1px v.$color-umber;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: v.$color-umber;
}

input[type="number"] {
    color: v.$color-dark-lava;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    width: 70%;
    position: absolute;
    background-color: v.$color-umber;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}