@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.searchFormContainer {
    font-size: v.$font-size-m;

    .searchFormTextContainer {
        @include m.flexbox(flex, row, wrap, center, center);
        gap: v.$space-s;
        margin-bottom: v.$space-m;
    }

    button {
        @include m.buttonStyle(v.$color-umber, v.$color-neutral-100);
    }
}