@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.BOmapFormPageContainer {
    @include m.flexbox(flex, row, nowrap, flex-start, flex-start);
    height: calc(100vh - v.$main-header-height);

    >div:first-child {
        width: 50%;
        height: calc(100vh - v.$main-header-height);
        border-right: 1px solid grey;
        overflow-y: scroll;
        overflow-x: hidden;

        >form {
            @include m.flexbox(flex, column, nowrap, space-between, flex-start);
            margin: v.$space-s 0
        }
    }

    >div:last-child {
        width: 50%;
        right: 0;
    }
}