/* cette classe est INDISPENSABLE pour afficher la carte (avoir au minmum la height de défini) */

[id*="demo-map"] {
	height: 70vh;
	border: 1px solid red;
}

.leaflet-container {
	height: calc(100vh - 60px - 50px - 20px);
	/* hauteur totale - 60px de mainHeader - 50px de mapHeader - 20px pour laisser la place au filtre du temps */
}
