/* cette classe est INDISPENSABLE pour afficher la carte (avoir au minmum la height de défini) */

/* Spécifier l'id de la carte permet de s'assurer que ça ne s'applique que container leaflet de cette carte */
#built-map .leaflet-container {
	height: calc(100vh - 60px - 50px - 20px);
	/* hauteur totale - 60px de mainHeader - 50px de mapHeader - 20px pour laisser la place au filtre du temps */
}

/* Supprimer les checkbox dans la fenêtre des calques */
.hide-layer-checkboxes input[type="checkbox"] {
	display: none;
	background-color: red;
}

.shadowed {
	box-shadow: rgb(0 0 0 / 69%) 0px 1px 0px 100px;
}
