@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.reducedAsideNav {
  width: v.$space-xxl;
  height: 100%;

  border: 1px solid black;

  ul {
    height: 100%;
    @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, flex-start, flex-start);
    gap: v.$font-space-xxxl;

    li {
      cursor: pointer
    }
  }
}

.liActive {
  background-color: v.$color-black-chocolate;
  color: white;
}