@use '../../../../styles/variable' as v;
@use '../../../../styles/mixin' as m;

.aside {
  border-right: 1px solid v.$color-grullo;
  background-color: v.$color-neutral-100;
  height: calc(100vh - v.$main-header-height);

  &Opened {
    flex: 1;

    >p {
      margin: v.$space-s;
    }

    &White {
      z-index: 10000;
      position: relative;
    }
  }

  &Closed {
    flex: 0.1;
  }
}

.toggleButtonContainer {
  position: relative;
}

.toggleButton {
  position: absolute;
  top: 0;
  width: 40px;
  height: 50px;
  cursor: pointer;
  right: -40px;
  z-index: 1000;
  background-color: v.$color-dark-lava;
  color: v.$color-grullo-light ;
  border-top-right-radius: v.$border-radius-rounded;
  border-bottom-right-radius: v.$border-radius-rounded;
  @include m.flexbox(flex, column, nowrap, center, center);

  >svg {
    color: v.$color-grullo-light;
  }
}