@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.textBlockContainer {
    width: 70vw;

    p {
        text-align: justify;
        margin: v.$font-space-xxxxl 0;
        line-height: v.$font-space-xxxl;
        font-size: v.$font-size-l;
    }
}

/* Ciblé pour les téléphones ≤ 480px */
@media (max-width: 480px) {
    .textBlockContainer {
        width: 90vw;
    }
}