@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.itemTags {
    padding: v.$space-xs;

    p {

        color: v.$color-neutral-60;
        font-size: v.$font-size-s;
    }

    @include m.flexbox(flex, row, wrap, center, center);
    gap: v.$space-xs;
}