@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.commonFormContainer {
    @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, center, flex-start);
    gap: v.$space-l;
    width: 50vw;
    padding: 0 v.$space-xxl;

    >button {
        @include m.buttonStyle(v.$color-umber, v.$color-neutral-100, (v.$space-s v.$space-l));
        @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, space-evenly, center);
        gap: v.$space-s;
    }
}

.commonFormInputContainer {
    @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, center, flex-start);
    gap: v.$space-s;
    width: 100%;

    >label {
        font-size: v.$font-size-m;
        font-weight: v.$font-weight-bold;
    }

    >input,
    textarea,
    select {
        width: 100%;
        padding: v.$space-s;
        border: v.$border-width-m solid v.$color-grullo-light;
        border-radius: v.$border-radius-rounded;
        font-size: v.$font-size-m;
        font-family: "Vollkorn";

        &:focus {
            outline: v.$border-width-m solid v.$color-umber;
        }
    }

}