@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.legalPage {
    width: 50vw;
    margin: v.$space-xl auto;
    @include m.flexbox(column, center, center);
    gap: v.$font-space-xl;
    text-align: justify;

    >h1 {
        font-size: $font-size-xxxxl;
        text-align: center;
        margin: $font-space-xl;
    }

    .paragraphContainer {
        width: 100%;
        @include m.flexbox(flex, column, flex-start, center);
        gap: v.$font-space-xl;

        >h2 {
            font-size: $font-size-xxl;
            margin: $space-xl 0 $font-space-l 0;
            color: v.$color-umber;
        }

        h3 {
            font-size: $font-size-l;
            font-weight: 600;
            margin: $font-space-l 0;
        }

        h4 {
            font-size: v.$font-size-m;
            font-weight: 600;
            margin: $font-space-l 0;
        }

        a {
            color: v.$color-umber;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                color: v.$color-grullo;
                text-decoration: underline;
            }
        }

    }



}