.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderBar {
  transform-origin: left;
  transform: scaleX(0);
  animation: load-bar 4s linear infinite;
}

@keyframes load-bar {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}