@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.titleAndText {
    &Container {
        @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, center, center);
        gap: v.$font-space-xxxxl * 2;

        .TitleSection {
            @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, flex-start, center);

            >h3 {
                font-size: v.$font-size-xxxxxl;
            }

            >img:first-of-type {
                rotate: 90deg;
            }

            >img:last-of-type {
                rotate: -90deg;
            }
        }

        >p {
            width: 50vw;
            font-size: v.$font-size-l;
            text-align: justify;
            line-height: v.$font-space-xxxl;
        }

        .verticalSeparator {
            width: v.$border-width-m;
            height: 10vh;
            background-color: $color-black-chocolate;
        }
    }
}