@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.mapSection {
  @include m.flexbox(flex, column, nowrap, flex-start, flex-start);
  height: calc(100dvh - v.$main-header-height);

  &Header {
    border: 1px solid black;
    width: 100%;
    height: 50px;
  }

  &Main {
    @include m.flexbox(flex, row, nowrap, space-between, flex-start);
    width: 100%;
    flex-grow: 1;

    >section {
      flex: 3;
      height: 100%;
    }
  }

  &Loaded {
    @include m.flexbox(flex, row, nowrap, center, center);
  }

  &Hidden {
    display: none;
  }
}

.toggleButtonContainer {
  position: relative;
  height: 90%;
}

.toggleButton {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &Left {
    right: 0;
  }

  &Right {
    left: 0;
  }
}

/* Ciblé pour les écrans ≤ 768px (tablettes et téléphones) */
@media (max-width: 768px) {}

/* Ciblé pour les téléphones ≤ 480px */
@media (max-width: 480px) {}