@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.managementContainer {
    width: 90vw;
    margin: 0 auto;
    background-color: v.$background-color-soft;
    border-radius: v.$border-radius-base;
    @include m.shadow();
}

.managementTable {
    width: 100%;
    background-color: v.$background-color-base;
    border-radius: v.$border-radius-base;

    >thead {
        border-bottom: v.$border-width-m solid v.$color-grullo-light;

        >tr>th {
            padding: v.$space-m 0;
        }

    }
}