@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.managementContainer {
    width: 90vw;
    margin: 0 auto;
    background-color: v.$background-color-soft;
    border-radius: v.$border-radius-base;
}

.managementTable {
    width: 100%;
    min-height: 200px;
    background-color: v.$background-color-base;
    border-radius: v.$border-radius-base;
    @include m.shadow();

    .loaderContainer {
        width: 100%;
        height: 100%;
        @include m.flexbox(flex, column, nowrap, center, center);
    }

    >thead {
        border-bottom: v.$border-width-m solid v.$color-grullo-light;

        >tr>th {
            padding: v.$space-m 0;
        }

    }


}