@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.modal {
    &Content {
        >p {
            font-size: v.$font-size-m;
        }
    }

    &TitleSection {
        @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, center, center);

        >h3 {
            font-size: v.$font-size-xxxxl;
        }


        >img:first-of-type {
            rotate: 90deg;
        }

        >img:last-of-type {
            rotate: -90deg;
        }

    }
}

.mapBottomSection {
    @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, flex-start, center);

    >div:first-of-type {
        width: 70%;
    }
}