@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.resultContainer {
  padding: v.$space-s 0;

  summary {
    cursor: pointer;
  }
}

.testimoniesInfo {
  margin: v.$space-s 0;
  margin-left: v.$space-s;

  div {
    margin-left: v.$space-s;
  }
}

.isSelected {
  background-color: #5fa052;
}