@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.resultContainer {
  overflow: scroll;
  height: calc(100vh - v.$main-header-height - v.$map-header-height - v.$aside-header-height);

}

.resultDetails {
  padding: v.$space-s;
  border-bottom: 1px solid v.$color-neutral-80;
  cursor: pointer;
  @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, flex-start, center);
  gap: v.$space-s;

  >svg {
    color: v.$color-dark-lava;
  }
}

.selectionDetailsContainer {
  padding: v.$space-s;
  overflow: scroll;
  border-bottom: 1px solid v.$color-neutral-80;

  summary {
    cursor: pointer;
  }

}

.testimoniesInfo {
  margin: v.$space-s 0;
  margin-left: v.$space-s;

  div {
    margin-left: v.$space-s;
  }
}

.isSelected {
  background-color: v.$color-grullo-light;
}

.chartContainer {
  height: 300px;
  width: 100%;
  border-top: 1px solid black;
  @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, space-between, center);

  >div {
    width: 70%;
    @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, center, center);
  }

  .chartRadio {
    @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, center, center);
    gap: v.$space-s;
    margin-top: v.$space-s;
  }
}