@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.authFormContainer {
    width: 100vw;
    height: 100vh;
    @include m.flexbox(flex, column, wrap, center, center);
}

.authForm {
    @include m.flexbox(flex, column, wrap, center, center);
    gap: v.$space-l;
    width: 30vw;
    min-width: 200px;
}

.commonFormInputContainer {
    @include m.flexbox(flex, column, nowrap, center, flex-start);
    gap: v.$space-s;
    width: 100%;

    >label {
        font-size: v.$font-size-m;
        font-weight: v.$font-weight-bold;
    }

    >input {
        width: 100%;
        padding: v.$space-s;
        border: v.$border-width-m solid v.$color-grullo-light;
        border-radius: v.$border-radius-rounded;
        font-size: v.$font-size-m;
        font-family: "Vollkorn";

        &:focus {
            outline: v.$border-width-m solid v.$color-umber;
        }
    }
}