@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.mapMenuNav {
  height: v.$map-header-height;
  width: 100%;
  @include m.flexbox(flex, column, nowrap, center, center);

  ul {
    width: 100%;
    @include m.flexbox(flex, row, nowrap, center, center);

    gap: v.$space-xxl;

    >li {
      width: 200px;
    }
  }

  &Active {
    text-decoration: none;
    background-color: v.$color-black-chocolate;
    color: white;
  }
}