/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@use './styles/mixin' as m;
@use './styles/variable' as v;

// import de la police Vollkorn
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: "Vollkorn";
	color: $color-black-chocolate;
}

/* HTML5 display-role reset for older browsers */
a {
	text-decoration: none;
	color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	@include m.unbuttonize;
}

.mainPage {
	width: 100vw;
	height: calc(100vh - v.$main-header-height);

	@include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, flex-start, center);
	gap: v.$space-xxl;
	padding-top: v.$space-xxxl;

	>h1 {
		font-size: v.$font-size-xxxxxl;
	}

	>p {
		width: 50vw;
		font-size: v.$font-size-l;
		text-align: justify;
		line-height: v.$font-space-xxxl;
	}
}

.verticalSeparator {
	width: 1.5px;
	height: 15vh;
	background-color: $color-black-chocolate;
}