/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@use './styles/mixin' as m;
@use './styles/variable' as v;

// import de la police Vollkorn
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
// em, // commenté pour le WYSIWYG
img,
ins,
kbd,
q,
// s, // commenté pour le WYSIWYG
samp,
small,
strike,
// strong, // commenté pour le WYSIWYG
// sub, // commenté pour le WYSIWYG
// sup, // commenté pour le WYSIWYG
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
// ol, // commenté pour le WYSIWYG
// ul, // commenté pour le WYSIWYG
// li, // commenté pour le WYSIWYG
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: "Vollkorn";
	color: $color-black-chocolate;
}

/* HTML5 display-role reset for older browsers */
a {
	text-decoration: none;
	color: inherit;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

// commenté pour le WYSIWYG
// ol,
// ul {
// 	list-style: none;
// }

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


button {
	@include m.unbuttonize;
}

.mainPage {
	width: 100vw;
	height: calc(100vh - v.$main-header-height);

	@include m.flexbox(flex, column, nowrap, flex-start, center);
	gap: v.$space-xxl;
	padding-top: 10vh;

	background-image: url('./assets/home_bg.png');
	background-position-y: 43%;
	background-repeat: no-repeat;
	background-size: cover;

	>h1 {
		font-size: v.$font-size-xxxxxl;
	}

	>p {
		width: 50vw;
		font-size: v.$font-size-l;
		text-align: justify;
		line-height: v.$font-space-xxxl;
	}

	.verticalSeparator {
		width: v.$border-width-m;
		height: 15vh;
		background-color: $color-black-chocolate;
	}

	.homeMenu {
		>ul {
			@include m.flexbox(flex, row, nowrap, flex-start, center);
			gap: v.$space-xxl;
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			margin: 0;

			>a {
				font-size: v.$font-size-xxl;

				&:hover {
					border-bottom: 1px solid v.$color-yellow-pantone;
				}
			}
		}
	}

}