@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.resetPasswordPage {
    width: 100vw;
    height: 100vh;
    @include m.flexbox(flex, column, nowrap, center, center);
    gap: v.$space-xxl;

    >h3 {
        font-size: v.$font-size-xxl;
    }

    >div {
        >input {
            width: 30vw;
            padding: v.$space-s;
            border: v.$border-width-m solid v.$color-grullo-light;
            border-radius: v.$border-radius-rounded;
            font-size: v.$font-size-m;
            font-family: "Vollkorn";

            &:focus {
                outline: v.$border-width-m solid v.$color-umber;
            }
        }

    }


    .error {
        color: v.$color-error;
    }
}