@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.header {
  height: v.$space-xxl;
  padding: 0 v.$font-space-xl;
  @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, space-between, center);

  &Logo {
    cursor: pointer;
  }

  &NavMenu {
    >ul {

      @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, space-between, center);
      gap: v.$space-xxl;

      >a {
        font-size: v.$font-size-l;
      }
    }

    &NotActive {
      opacity: 0.4;
    }

    &Active {
      opacity: 1;
    }
  }

  &LastSection {
    @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, space-between, center);
    gap: 1rem;
  }


  &TranslationMenu {
    ul {
      @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, flex-end);
      gap: v.$font-space-l;
      list-style-type: none;
    }
  }

  li {
    cursor: pointer;
  }
}


.languageSelected {
  font-weight: v.$font-weight-extrabold;
}