@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.header {
  height: v.$space-xxl;
  padding: 0 v.$font-space-xl;
  @include m.flexbox(flex, row, nowrap, space-between, center);
  border-bottom: v.$border-width-l solid v.$color-umber;
  width: 100%; // ajusté à cause de la scrollbar



  &Logo {
    cursor: pointer;
  }

  &NavMenu {
    >ul {

      @include m.flexbox(flex, row, nowrap, space-between, center);
      gap: v.$space-xxl;
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      >a {
        font-size: v.$font-size-l;
      }
    }

    &NotActive {
      opacity: 0.4;
    }

    &Active {
      opacity: 1;
    }
  }

  &LastSection {
    @include m.flexbox(flex, row, nowrap, space-between, center);
    gap: 1rem;

    >svg {
      cursor: pointer;
    }
  }

  &BackButton {
    @include m.flexbox(flex, row, nowrap, center, center);
    gap: v.$font-space-l;
    cursor: pointer;
  }


  &TranslationMenu {
    ul {
      @include m.flexbox(flex, row, nowrap, flex-end);
      gap: v.$font-space-l;
      list-style-type: none;
      padding-left: 0;
    }
  }

  li {
    cursor: pointer;
  }
}


.languageSelected {
  font-weight: v.$font-weight-extrabold;
}