@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.tagPageContainer {
    @include m.flexbox(flex, column, nowrap, center, center);
    padding-bottom: v.$space-xxl;
    gap: v.$space-l;


    .tagPageTitleContainer {
        @include m.flexbox(flex, row, nowrap, center, center);
        padding-top: v.$space-xxl;
    }

    .tagPageItemsContainer {
        width: 70vw;
        @include m.flexbox(flex, row, wrap, center, center);
        gap: v.$space-xxl;
    }
}