@use '../../styles/mixin' as m;
@use '../../styles/variable' as v;

.tagPageContainer {
    @include m.flexbox(flex, column, nowrap, center, center);
    margin-bottom: v.$space-xxl;

    .tagPageTitleContainer {
        height: 50vh;
        @include m.flexbox(flex, row, nowrap, center, center);
    }

    .tagPageItemsContainer {
        width: 70vw;
        @include m.flexbox(flex, row, wrap, center, center);
        gap: v.$space-xxl;
    }
}

/* Ciblé pour les écrans ≤ 768px (tablettes et téléphones) */
@media (max-width: 768px) {}

/* Ciblé pour les téléphones ≤ 480px */
@media (max-width: 480px) {}