@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.backofficeMapPageContainer {
    @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, flex-start, flex-start);
    gap: v.$space-xl;
}

.BOmapFormPageContainer {
    @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, flex-start, flex-start);
    height: calc(100vh - v.$main-header-height);

    >div:first-child {
        width: 50%;
        height: calc(100vh - v.$main-header-height);
        border-right: 1px solid grey;
        overflow-y: scroll;
        overflow-x: hidden;

        >form {
            height: calc(100vh - 200px);
            @include m.flexbox(flex, column, null, null, nowrap, 0, 0, null, space-between, flex-start);
            margin: v.$space-s 0
        }
    }

    >div:last-child {
        width: 50%;
        right: 0;
    }
}