@use '../../../styles/variable' as v;
@use '../../../styles/mixin' as m;

.asideHeader {
  border-bottom: 1px solid v.$color-dark-lava;
  background-color: v.$color-grullo-light;

  >ul {
    height: v.$space-xl;
    @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, space-around, center);

    >li {
      width: 33%;
      cursor: pointer;
      text-align: center;
      border-left: 1px solid v.$color-dark-lava;
    }
  }
}

.liActive {
  background-color: v.$color-dark-lava;
  color: white;
  height: 100%;
  @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, space-around, center);
}