@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.userManagementSection {
    min-height: calc(100vh - v.$main-header-height);
    @include m.flexbox(flex, column, nowrap, flex-start, center);
    gap: v.$space-l;
    background-color: v.$background-color-soft;
    padding: v.$space-l 0;
}

.userManagementHeader {
    width: 90vw;
    @include m.flexbox(flex, row, nowrap, flex-start, center);
}

.userManagementTableContainer {
    width: 90vw;
    margin: 0 auto;

    .managementTable {
        width: 100%;
        background-color: v.$background-color-base;
        border-radius: v.$border-radius-base;
        @include m.shadow();

        >thead {
            border-bottom: v.$border-width-m solid v.$color-grullo-light;

            >tr>th {
                padding: v.$space-m 0;
            }

        }

        .userTableRow {
            &:hover {
                background-color: v.$background-color-soft;
            }

            >td {
                text-align: center;
                padding: v.$space-l 0;
                border-bottom: v.$border-width-m solid v.$color-grullo-light;
                max-width: 100px;
                vertical-align: middle;
            }

            >td:last-of-type>div {
                @include m.flexbox(flex, column, nowrap, center, center);
                gap: v.$space-s;

                >svg,
                button {
                    cursor: pointer;
                    margin-right: v.$space-s;
                    background-color: v.$background-color-soft;
                    border-radius: v.$border-radius-base;
                    border: v.$border-width-m solid v.$color-neutral-80;
                    padding: 5px;
                    transition: scale 0.2s;
                    color: v.$color-dark-lava;
                }

                >svg:hover,
                button:hover {
                    scale: 1.1;
                }
            }
        }
    }
}

.addUserFormContainer {
    background-color: v.$background-color-base;
    border-radius: v.$border-radius-base;
    @include m.shadow();
}