@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.categoryMenu {
  @include m.flexbox(flex, column, wrap, center, center);
  gap: v.$space-xl;
}

.categoryMenuNav {
  >ul {
    @include m.flexbox(flex, row, wrap, center, center);
    gap: v.$space-s;

    li {
      width: 150px;
      text-align: center;
      cursor: pointer;
      font-size: v.$font-size-l;
    }
  }

  &Active {
    text-decoration: none;
    background-color: v.$color-black-chocolate;
    color: white;
  }
}

.categoryMenuContent {
  width: 70vw;
  padding: v.$space-xl;
  font-size: v.$font-size-l;
}

.mapListContainer {
  padding: v.$space-xl 0;
  @include m.flexbox(flex, column, wrap, flex-start, flex-start);
  gap: v.$space-xl;

  .mapListItem {
    @include m.flexbox(flex, row, wrap, flex-start, center);
    gap: v.$space-m;

    img {
      rotate: 90deg;
    }
  }

}

.selectedCategoryUnderline {
  height: v.$border-width-l;
  width: 100%;
  background-color: v.$color-old-gold;
}

.categoryNameContainer {
  @include m.flexbox(flex, column, nowrap, flex-start, center);
  gap: v.$space-s/5;
}