@use '../../../styles/mixin' as m;
@use '../../../styles/variable' as v;

.error {
    color: v.$color-error;
    font-size: v.$font-size-m;
    @include m.flexbox(flex, row, null, null, nowrap, 0, 0, null, center, center);
    gap: v.$space-s;
}