@use '../../../../styles/mixin' as m;
@use '../../../../styles/variable' as v;

.reducedAsideNav {
  width: v.$space-xxl;
  height: 100%;
  background-color: v.$color-grullo-light;
  @include m.flexbox(flex, column, nowrap, center, center);
  padding-top: v.$space-l;

  border-right: 1px solid v.$color-grullo;

  >ul {
    height: 100%;
    @include m.flexbox(flex, column, nowrap, flex-start, flex-start);
    gap: v.$font-space-xxxl;

    >li {
      cursor: pointer;

      >svg {
        color: v.$color-black-chocolate;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s;
        }
      }
    }
  }
}

.liActive {
  background-color: v.$color-black-chocolate;
  color: white;
}